body {
    /*background-image: url("i5.png");*/ 
    font-family:Verdana;
}
/* visited link */
a:visited {  
    color: #FFFFFF; font-size: 3
}

  /* mouse over link */
a:hover {
    color: rgb(255, 0, 128); font-size: 3;
}

nav{
    width: 100%;
    height: 50px;
    background-color: rgba(167,154,147,255);
    line-height: 50px;/* to bring our links to the centre.*/
}

nav ul{
    float: right;
    margin-right: 30px;/* to bring our links to the right.*/
}
nav ul li{
    list-style-type: none;
    display: inline-block; /* it makes our horizontal.*/
    transition: 0.7s all;
}
nav ul li:hover{
    background-color:rgb(255, 255, 255);
}
nav ul li a{
    text-decoration: none;
    color: #ffffff;
    padding: 30px;
}

.buttons{
    width: 100%;
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
    text-align: center;
    color: #FFFFFF;
}

.buttons a {
    text-decoration: none;
}

button{
    color: #FFFFFF;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #ffffff;
    box-shadow: inset 0 0 0 2px #ffffff;
    background-color:  rgb(255, 0, 128);
    height: 48px;
}

button:hover{
    color: rgb(255, 0, 128);
    background-color: #ffffff;
    box-shadow: inset 0 0 0 2px  rgb(255, 0, 128);
}

.content {
    flex: 1; /* Allows the content to grow and push the footer to the bottom */   
}
.footer {
    background-color: rgba(167,154,147,255);
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .social-icons {
    margin-top: 10px;
}
.button-new {
    text-align: center;
    margin: right -50px;;
}
.footer .social-icons a {
    display: inline-block;
    margin: 0 10px;
    font-size: 20px;
    color: #fff;
    text-decoration: none
}

/*.................................................................HOMEPAGE*/
.h1{
    color: #FFFFFF;
}
.homepage-body {
    background-image: url("i4.jpg");
    font-family: Verdana;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.container {
    position: relative; /* Updated to relative */
    width: 90%; /* Updated to a percentage value */
    max-width: 1200px;
    margin: 0 auto;
}

.search-box {
    margin-bottom: 20px; /*the space underneath before the buttons*/
}

.search-box input[type="text"],.search-box select,
.search-box input[type="date"] {
    
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

table th, table td {
    padding: 20px;
    text-align: left;
}

/* Style for the Check-in date field */
.custom-date-input {
    position: relative;
}

.custom-date-input label {
    position: absolute;
    top: 0;
    left: 20px;
    background: transparent;
    padding: 0 5px;
    color: #ffffff;
    font-size: 12px;
    pointer-events: none;
}

.errorMessage-Homepage {
    margin-top: 24px;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.text-center {
    text-align: center;
}

.alert1 {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color:  white;
    font-weight: bold;
    font-size: 22px;
}